# FINANCIAL PORTFOLIO DESING

## Libraries

In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

## DATA PATH

In [2]:
dataRoute = '../Data/'

In [3]:
expensesFileName = 'Expenses.csv'
incomesFileName  = 'Incomes.csv'

In [4]:
expenses = pd.read_csv(dataRoute + expensesFileName)

In [5]:
expenses

,DATE,AMOUNT,CATEGORY,THIRD_PARTY,PLACE,COMMENT
0,29/07/2011,500,VARIABLE,ZeroToHero,Youtube,Inscripcion a Phyton

In [6]:
incomes = pd.read_csv(dataRoute + incomesFileName)

In [7]:
incomes

Empty DataFrame
Columns: [DATE,  AMOUNT,  CATEGORY,  THIRD_PARTY,  DESCRIPTION]
Index: []

In [8]:
class FinancialPortfolio:
    def __init__(self, inputs):
        self.inputs = inputs
        self.incomes = pd.read_csv(self.inputs['dataRoute'] + self.inputs['incomesFileName'])
        self.expenses = pd.read_csv(self.inputs['dataRoute'] + self.inputs['expensesFileName'])
    '''
    'Add income to database
    '''
    def addIncome(self):
        date           = input('Date: ')
        amount         = input('Amount: ')
        category       = input('Category: ')
        thirdParty     = input('Third Party: ')
        place          = input('Place: ')
        description    = input('Description: ')
        
        #New income creation
        newIncome      = [date, amount, category, thirdParty, place, description]
        
        #Add the income to the data base
        numberLocation = len(self.incomes)
        self.incomes.loc[n] = newIncome
        self.incomes,to_csv(self.inputs['dataRoute'] + self.inputs['incomesFileName'], index = False)
    '''
    'This function returns the total income
    '@return total a variable of type integer
    '''
    def totalIncome(self):
        total = self.incomes['AMOUNT'].sum()
        return total
    '''
    'This function returns the total expenses
    '@return total a variable of type integer
    '''
    def  totalExpenses(self):
        total = self.expenses['AMOUNT'].sum()
        return total
    '''
    'The total balance between the incomes and the expenses
    '@return balance the finnal difference
    '''
    def balance(self):
        balance = self.totalIncome() - self.totalExpense()
        return balance
    '''
    'This function gives the financial report
    '''
    def financialReport(self):
        print('\n' + 'Financial Report' +  '\n')
        print('Total Income: {}'.format(self.totalIncome()))
        print('Total Expenses: {}'.format(self.totalExpenses()))
        print('Balance: {}'.format(self.balance()))

In [ ]:
'''
'Input of the object FinancialPortfolio
'''
inputs = {
    'dataRoute'        : '../data/',
    'expensesFileName' : 'expenses.csv'
    'incomesFileName'  : 'incomes.csv'
}